
@{
    ViewBag.Title = "ManualClose";
    <script src="~/Scripts/arena.js?v=7"></script>
}

<h2>@ViewBag.ErrorMessage</h2>

<a class="btn btn-warning" href="~/Arena/Watch?aid=@ViewBag.ArenaId">CLICK TO CONSOLE</a>