
@{
    ViewBag.Title = "Invalid";
}

<div class="login">
    <div class="container ">
        <div class="row text-center">
            <div data-anim-type="fade-in-up" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h3>@TempData["Invalid"]</h3>
                <hr>
            </div>
        </div>
    </div>
</div>
