@{
    ViewBag.Title = "Contact Us";
}

<div class="container">
    <div class="row">
        <div class="col-sm-8  col-md-8  col-lg-8 ">
            <section id="entryform">
                <div class="container">
                    <div class="row text-center ">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-wrapper">
                                <div class="row">
                                    <h3 class="text-left text-custom-one">About Us</h3>
                                    <hr />
                                    <p class="text-justify">eGameCashier offered quality live sabong videos from different cockpit around the Philippines. In order to provide you quality and reliable live sabong video feeds, eGameCashier uses only state of the art equipment similarly used in the Television and Broadcast Industry. eGameCashier live streaming service is available to all sabong enthusiasts around the world.</p>
                                </div>
                                <div class="row">
                                    <h3 class="text-left text-custom-one">Contact Us</h3>
                                    <hr />
                                    <p class="text-left text-uppercase">You can contact us to the following:</p>
                                    <p class="text-left">For inquiries, registration, loading and withdrawal: <a href="mailto:support@eGameCashier.net" class="text-custom-one-event">support@eGameCashier.net</a> </p>
                                    <p class="text-left text-uppercase">  For support and assistance:</p>
                                    <p class="text-left">Facebook: <span class="text-custom-one-event">eGameCashier</span></p>
                                    <p class="text-left">Facebook (CSR Cheann): <span class="text-custom-one-event">CSR  eGameCashier</span></p>
                                    <p class="text-left">Skype: <span class="text-custom-one-event">eGameCashier</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </section>
        </div>
    </div>
</div>

