
@{
    ViewBag.Title = "FAQ";
}

<div class="container">
    <div class="row">
        <div class="col-sm-8  col-md-8  col-lg-8 ">
            <section id="entryform">
                <div class="container">
                    <div class="row text-center ">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-wrapper">
                                <div class="row">
                                    <h3 class="text-left text-custom-one">FAQ</h3>
                                    <hr />
                                    <p class="text-left text-uppercase text-custom-one-line">How to register?</p>
                                    <p class="text-left text-justify">- You will need this information to register, full name, valid email address, user name and password (combination of upper and lower case letter and numbers)</p>
                                    <p class="text-left text-justify">- You will receive confirmation in your email if your registration is successful</p>
                                    <p class="text-left text-justify">- To activate your account, just click the link on the email and you will be redirected to the www.eGameCashier.net</p>
                                    <p class="text-left text-justify">- You can now log on using your username and password</p>

                                    <p class="text-left text-uppercase  text-custom-one-line">What are the minimum PC requirements to watch the video?</p>
                                    <p class="text-left text-justify">- Windows operating system – Win XP, Vista, 7, 8</p>
                                    <p class="text-left text-justify">- Internet connection – at least 2Mbps download speed</p>
                                    <p class="text-left text-justify">- Computer – 2GB RAM, video card, 4GB memory</p>

                                    <p class="text-left text-uppercase  text-custom-one-line">Is full screen video available?</p>
                                    <p class="text-left text-justify">- Full screen video is not available.</p>

                                    <p class="text-left text-uppercase  text-custom-one-line">Why my video is buffering?</p>
                                    <p class="text-left text-justify">- Video buffering is basically caused by slow internet connection, to avoid video buffering you will need at least 2Mbps download speed.</p>

                                    <p class="text-left text-uppercase  text-custom-one-line">Can I access/view the video using IPhone or IPad?</p>
                                    <p class="text-left text-justify">- Mobile version will be available soon</p>

                                    <p class="text-left text-uppercase  text-custom-one-line">How to change and retrieve my password?</p>
                                    <p class="text-left text-justify">- You can change your password by clicking “My Profile>Change Password” on the drop down menu.</p>
                                    <p class="text-left text-justify">- If you forgot your password, just go to Forgot Password page <a href="http://eGameCashier.net/Account/ForgotPassword " class="text-custom-one-event">http://eGameCashier.net/Account/ForgotPassword </a> or send us an email <a href="mailto:support@eGameCashier.net " class="text-custom-one-event"> support@eGameCashier.net </a></p>
                                    <p class="text-left text-uppercase  text-custom-one-line">Can I transfer my points (pasaload) to other player?</p>
                                    <p class="text-left text-justify">- Transfers of points from your account to other players account are available via drop down menu “Support > Pasaload”. Fill in the username of the person you want to transfer points and the desired amount. Minimun pasaload is 200 points.</p>
                                    <p class="text-left text-justify">- You can also transfer points by sending us an email <a href="mailto:support@eGameCashier.net " class="text-custom-one-event"> support@eGameCashier.net </a> using your registered email address only.</p>
                                    <p class="text-left text-justify">- Transfer of points is also available by giving instruction to our lovely CSR on the chat box.</p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </section>
        </div>
    </div>
</div>
