
@{
    ViewBag.Title = "How To";
}

<div id="home">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2 ">
                <h3>
                    How To Play
                </h3>
            </div>
        </div>

    </div>
</div>
