@{
    ViewBag.Title = "HowToLoad";
}

<div class="container">
    <div class="row">
        <div class="col-sm-8 col-md-8 col-lg-8 ">
            <section id="entryform">
                <div class="container">
                    <div class="row text-center ">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-wrapper">
                                <div class="row">
                                    <h3 class="text-left text-custom-one">LOADING OF POINTS</h3>
                                    <hr />

                                    @*<p class="text-left text-uppercase text-custom-one-line">CEBUANA, MLHUILLIER, LBC, PALAWAN EXPRESS</p>
                                    <p class="text-left text-justify">NAME: Raymund Anthony Weber</p>
                                    <p class="text-left text-justify">ADDRESS:321 Purok 1 Sucat, Muntinlupa City</p>
                                    <p class="text-left text-justify">CELL NO: 0925-731-2628</p>
                                    <p class="text-left text-uppercase text-custom-one-line">SMARTMONEY PADALA (include your username as part of your message)</p>
                                    <p class="text-left text-justify">ACCOUNT NO.: 5299-6758-0992-6106</p>
                                    <p class="text-left text-justify">ACCOUNT NO.: 5299-6760-3044-2103</p>*@


                                    @*<p class="text-left text-uppercase text-custom-one-line">GLOBE GCASH (include your username as part of your message)</p>
                                    <p class="text-left text-justify">CELL NO: 0915-266-0502</p>

                                    <p class="text-left text-uppercase text-custom-one-line">For BANCO DE ORO</p>
                                    <p class="text-left text-justify">
                                        Acct name: Edwin Monton
                                    </p>
                                    <p class="text-left text-justify">
                                        Acct no.: 007-000-177-575
                                    </p>
                                    <p class="text-left text-justify">
                                        Acct type: Peso Savings
                                    </p>
                                    <p class="text-left text-justify">
                                        SWIFT code: BNORPHMM
                                    </p>
                                    <p class="text-left text-justify">Branch: SM City Rosario, Cavite</p>*@


                                    <p class="text-left text-uppercase text-custom-one-line">
                                        Email us at <a href="mailto:support@eGameCashier.net " class="text-custom-one-event"> support@eGameCashier.net </a> with the following details:
                                    </p>
                                    <div class="container">
                                        <p class="text-left text-justify">
                                            - Remittance center used
                                        </p>
                                        <p class="text-left text-justify">
                                            - Control or reference number
                                        </p>
                                        <p class="text-left text-justify">
                                            - Sender’s name
                                        </p>
                                        <p class="text-left text-justify">
                                            - Sender’s address
                                        </p>
                                        <p class="text-left text-justify">
                                            - Recipient’s name
                                        </p>
                                        <p class="text-left text-justify">
                                            - Amount
                                        </p>
                                        <p class="text-left text-justify">
                                            - Username
                                        </p>
                                    </div>
                                    <p class="text-left text-justify">
                                        • For online deposits – forward us at <a href="mailto:support@eGameCashier.net " class="text-custom-one-event"> support@eGameCashier.net </a> the confirmation email of your online deposit. For over the counter deposits – send us the scanned copy of deposit slip.
                                    </p>
                                    <p class="text-left text-justify">
                                        • Minimum load is 2,000 pesos or 2,000 points
                                    </p>
                                    <p class="text-left text-justify">
                                        • All money transfer must be in Philippine Peso
                                    </p>
                                    <p class="text-left text-justify">
                                        • Only the corresponding Philippine Peso equivalent will be credited to your account.
                                    </p>
                                    <p class="text-left text-justify">
                                        • All fund transfer charges will be shouldered by the player.
                                    </p>

                                    <h3 class="text-left text-custom-one">CASH OUT OF POINTS</h3>
                                    <hr />

                                    <p class="text-left text-justify">•	Cash out of points can be done via Remittance Center i.e. CEBUANA, MLHUILLIER, LBC, PALAWAN EXPRESS, WESTERN UNION and/or Bank Transfer method. Send us an email <a href="mailto:support@eGameCashier.net " class="text-custom-one-event"> support@eGameCashier.net </a> or use the <em>"SUPPORT > Request"</em> drop down menu for your Cash Out request with the following details:</p>
                                    <div class="container">
                                        <p class="text-left text-justify">
                                            - Username
                                        </p> <p class="text-left text-justify">
                                            - Cash out amount
                                        </p><p class="text-left text-justify">
                                            - Transfer method
                                        </p> <p class="text-left text-justify">
                                            - Recipient details i.e. names, address, contact number
                                        </p> <p class="text-left text-justify">
                                            - Bank details (if bank deposits)
                                        </p>
                                    </div>
                                    <p class="text-left text-justify">
                                        We may require you send us scanned copy of valid ID for security purposes.
                                    </p>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
        </div>

        </section>
    </div>
</div>
</div>
