@{
    ViewBag.Title = "HowToPlay";
}

<div class="container">
    <div class="row">
        <div class="col-sm-8 col-md-8 col-lg-8">
            <section id="entryform">
                <div class="container">
                    <div class="row text-center ">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-wrapper">
                                <div class="row">
                                    <h3 class="text-left text-custom-one">How to Play</h3>
                                    <hr />
                                    <p class="text-left text-uppercase text-custom-one-line">Definition of Terms:</p>
                                    <p class="text-left text-justify">ST POINTS – eGameCashier points (1 point equivalent to 1 peso)</p>
                                    <p class="text-left text-justify">OPEN – bets can be placed when status is OPEN</p>
                                    <p class="text-left text-justify">CLOSE – bets are no longer allowed and all unmatched bets are returned</p>
                                    <p class="text-left text-justify">CANCEL – all bets are returned if the fight is declared CANCEL at the cockpit arena or any unavoidable circumstances such as system failure, video or signal lost</p>
                                    <p class="text-left text-justify">PERSONAL BET – your total bets and matched bets are displayed on the PERSONAL BET section</p>
                                    <p class="text-left text-justify">MATCHED BET – bet is final and cannot be cancelled if your bet is matched on the opposite side regardless of odds</p>
                                    <p class="text-left text-justify">TOTAL BET – Main betting where all of the combined bets are displayed</p>
                                    <p class="text-left text-justify">MERON – stag or cock with the higher center bet</p>
                                    <p class="text-left text-justify">WALA – stag or cock with the lower center bet</p>
                                    <p class="text-left text-uppercase text-custom-one-line">Rules and regulations:</p>

                                    <p class="text-left text-justify">
                                        •	Bets can be place once the status is OPEN. Bets are no longer allowed once the bet status is CLOSED.
                                    </p> <p class="text-left text-justify">
                                        •	Players can place their bet on the PERSONAL BET section. Player can select on the MERON or WALA side with the selected odds and corresponding amount. Total and matched bets will be shown on the PERSONAL BET section. Unmatched bets can still be cancelled by clicking the CANCEL button on the right side of the PERSONAL BET. Bets will be matched on a first come-first serve basis. Make it a habit to refresh the page or click F5 button to confirm if your bet is already matched.
                                    </p> <p class="text-left text-justify">
                                        •	All bets will be shown on the TOTAL BET section. Once the status is CLOSED all bets will be automatically squared off and all unmatched bets will be returned to the players.
                                    </p>   <p class="text-left text-justify">
                                        •	If the video or signal is lost prior to betting status is CLOSE, the fight shall be declared CANCEL, and all bets shall be returned to all the players who placed their bets.
                                    </p>  <p class="text-left text-justify">
                                        •	The fight is declared CANCEL if the current fight is NOT CLOSED prior to first buckle and all bets shall be returned to the all the players who placed their bets.
                                    </p>  <p class="text-left text-justify">
                                        •	Once the bet status is CLOSE, all bets are final. If the signal or video is lost after the CLOSE button is pressed, the fight shall continue and winner will be declared and entered on the system.
                                    </p> <p class="text-left text-justify">
                                        •	Once the winner is declared, the winning player’s capital and winning bets less 8% commission will be automatically credited to players account.
                                    </p>  <p class="text-left text-justify">
                                        •	If the fight is declared DRAW, all bets shall be returned to all the players who placed their bets.
                                    </p>  <p class="text-left text-justify">
                                        •	Payout for DRAW BET is times 8. Minimum bet is 200 points and maximum bet of 1000.
                                        @*DRAW BET can be cancelled anytime, however if the status is CLOSED all DRAW BETS is final and no cancelation is allowed.*@
                                    </p>  <p class="text-left text-justify">
                                        •	Only registered players and with active accounts shall be allowed to play. Currently NO minimum balance is required to log in at eGameCashier. However in the future, a certain minimum load balance is required to view the video.

                                    </p>
                                    <p class="text-left text-justify">
                                        •	Players have the right to dispute any incident, send us an email at support@eGameCashier.net and we will review and investigate your concern.
                                    </p> <p class="text-left text-justify">
                                        •	For the sake of transparency, we have created a page for you to check and review all your betting activities. To view your betting details click “My Profile>My Reports” and select “Details”.

                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

